<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mangomaner.mangobot.system.mapper.connection.OneBotConfigMapper">

    <resultMap id="BaseResultMap" type="io.github.mangomaner.mangobot.adapter.connect_controller.onebot.model.domain.OneBotConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="host" column="host" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="INTEGER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="protocolType" column="protocol_type" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="INTEGER"/>
            <result property="connectionStatus" column="connection_status" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="updatedAt" column="updated_at" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,host,port,path,token,protocol_type,enabled,connection_status,description,created_at,updated_at
    </sql>
</mapper>
